<div class="container">
  <h1>ANGULAR + ASP.NET CORE CRUD</h1>

  <div class="cards-container">
    <div class="cards-form">
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="cardName">Card Name</label>
          <input type="text" name="cardName" [(ngModel)]="card.cardholdername"/>
        </div>
        <div class="form-group">
          <label for="cardNumber">Card Number</label>
          <input type="text" name="cardNumber" [(ngModel)]="card.cardnumber"/>
        </div>
        <div class="form-group form-group-inline">
          <div>
            <label for="cvc">CVC</label>
            <input type="text" name="cvc" [(ngModel)]="card.cvc"/>
          </div>

          <div>
            <label for="expirymonth">Expiry Month</label>
            <input type="text" name="expirymonth" [(ngModel)]="card.expirymonth"/>
          </div>

          <div>
            <label for="expiryyear">Expiry Year</label>
            <input type="text" name="expiryyear" [(ngModel)]="card.expiryyear"/>
          </div>

        </div>
        <div class="form-group">
          <button>save</button>

        </div>
      </form>
    </div>
    <div class="cards-grid">


      <div class="card-row" *ngFor="let card of cards">
        <div class="card-row-details" (click)="populateForm(card)" >
         <span>{{ card.cardholdername}}</span>
         <span>{{ card.cardnumber}}</span>
        </div>
        <div class="card-row-action">
          <a (click)="deleteCard(card.id)"><i class="fa-solid fa-trash-can"></i></a>
        </div>
      </div>

      <!-- <div class="card-row">
        <div class="card-row-details">
         <span>hirush</span>
         <span>0750731445</span>
        </div>
        <div class="card-row-action">
          <a><i class="fa-solid fa-trash-can"></i></a>
        </div>
      </div> -->
    </div>
  </div>
</div>
